/* tipswift */

.tipswift {
  padding: 0;
  font: 11px "Lucida Grande";
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.90);
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.tipswift input {
  margin: 0 2px;
  padding: 4px 8px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.15);
  font-size: 10px;
  outline: none;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.tipswift input:hover {
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.tipswift input:active {
  background: #161616;
  color: #c7c7c7;
}

/* tipsy */

.tipsy { padding: 5px; font-size: 11px; position: absolute; z-index: 100000; }
.tipsy-inner { padding: 5px 10px; background-color: #000; color: #fff; text-align: center; }
.tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-arrow { position: absolute; width: 0; height: 0; border: 9px solid transparent; border-color: transparent transparent #000; }
.tipsy-n .tipsy-arrow { top: -9px; left: 50%; width: 0; height: 0; margin-left: -9px;  }
  .tipsy-nw .tipsy-arrow { top: -9px; left: 10px; }
  .tipsy-ne .tipsy-arrow { top: -9px; right: 10px; }
.tipsy-s .tipsy-arrow { bottom: -9px; left: 50%; margin-left: -9px; border-color: #000 transparent transparent; }
  .tipsy-sw .tipsy-arrow { bottom: -9px; left: 10px; border-color: #000 transparent transparent; }
  .tipsy-se .tipsy-arrow { bottom: -9px; right: 10px; border-color: #000 transparent transparent; }
.tipsy-e .tipsy-arrow { top: 50%; margin-top: -9px; right: -9px; border-color: transparent transparent transparent #000; }
.tipsy-w .tipsy-arrow { top: 50%; margin-top: -9px; left: -9px; border-color: transparent #000 transparent transparent; }
